In [25]:
import pandas as pd
import numpy as np

walkability_df = pd.read_csv('EPA_SmartLocationDatabase_V3_Jan_2021_Final.zip')

In [26]:
walkability_df = walkability_df[walkability_df['CSA_Name'].notna()]

In [27]:
sum_df = walkability_df[['CBSA_Name', 'TotPop', 'Ac_Total', 'D4A']]
avg_df = walkability_df[['CBSA_Name', 'P_WrkAge', 'NatWalkInd', 'D2B_E8MIXA', 'D2A_EPHHM', 'D3B']]
sum_df.loc[sum_df['D4A'] < 0, 'D4A'] = np.nan

In [28]:
cleaned_walk_df = sum_df.groupby(by='CBSA_Name').sum().reset_index().merge(avg_df.groupby(by='CBSA_Name').median().reset_index(), left_on='CBSA_Name', right_on='CBSA_Name', how='outer')

In [29]:
city_state = pd.DataFrame(cleaned_walk_df['CBSA_Name'].str.split(', ').values.tolist())
city_state.columns = ['City', 'State']
cleaned_walk_df['City'] = city_state['City']
cleaned_walk_df['State'] = city_state['State']
cleaned_walk_df.drop(columns=['CBSA_Name'], inplace=True)
print(cleaned_walk_df.columns)
cleaned_walk_df.columns = ['Population', 'City_Size', 'Carpool_Pop', 'P_WrkAge', 'Walk_Index', 'P_Employ_Div', 'P_Household', 'Street_Density', 'City', 'State']

Index(['TotPop', 'Ac_Total', 'D4A', 'P_WrkAge', 'NatWalkInd', 'D2B_E8MIXA',
       'D2A_EPHHM', 'D3B', 'City', 'State'],
      dtype='object')

In [30]:
cleaned_walk_df

,Population,City_Size,Carpool_Pop,P_WrkAge,Walk_Index,P_Employ_Div,P_Household,Street_Density,City,State
0,98474,4.872871e+05,0.00,0.5800,6.083333,0.580700,0.497325,8.621747,Adrian,MI
1,704454,5.914672e+05,1157.39,0.6000,7.333333,0.538761,0.546642,59.316931,Akron,OH
2,122870,1.476173e+06,19967.96,0.5720,8.000000,0.548416,0.568968,16.402181,Albany-Lebanon,OR
3,880481,1.842061e+06,162943.38,0.6080,10.583333,0.592632,0.510656,52.502810,Albany-Schenectady-Troy,NY
4,61114,2.591123e+05,0.00,0.5795,5.583333,0.585721,0.576007,5.903710,Albemarle,NC
...,...,...,...,...,...,...,...,...,...,...
545,93214,1.791403e+05,0.00,0.5615,3.333333,0.000000,0.000000,32.535097,Yauco,PR
546,444014,5.828593e+05,65010.82,0.5980,7.833333,0.586917,0.553537,34.837905,York-Hanover,PA
547,545488,1.116337e+06,0.00,0.5750,6.500000,0.516909,0.528645,39.824948,Youngstown-Warren-Boardman,OH-PA
548,171365,8.015328e+05,30683.51,0.5780,10.666667,0.517906,0.532198,41.836319,Yuba City,CA
549,86076,4.304457e+05,0.00,0.5890,6.333333,0.528021,0.574831,15.690643,Zanesville,OH